<?xml version="1.0" standalone="yes"?>
<forumhot>
  <hottab>
    <id>1</id>
    <displayorder>1</displayorder>
    <name>24小时新帖</name>
    <datatype>topics</datatype>
    <sorttype>PostDateTime</sorttype>
    <forumid />
    <topiccount>15</topiccount>
    <forumnamelength>30</forumnamelength>
    <topictitlelength>30</topictitlelength>
    <cachetime>1000</cachetime>
    <topictimetype>All</topictimetype>
  </hottab>
  <hottab>
    <id>2</id>
    <displayorder>1</displayorder>
    <name>最多查看的主题</name>
    <datatype>topics</datatype>
    <sorttype>Views</sorttype>
    <forumid />
    <topiccount>15</topiccount>
    <forumnamelength>30</forumnamelength>
    <topictitlelength>30</topictitlelength>
    <cachetime>1000</cachetime>
    <topictimetype>All</topictimetype>
  </hottab>
  <hottab>
    <id>3</id>
    <displayorder>1</displayorder>
    <name>精华主题</name>
    <datatype>topics</datatype>
    <sorttype>Digest</sorttype>
    <forumid />
    <topiccount>15</topiccount>
    <forumnamelength>10</forumnamelength>
    <topictitlelength>30</topictitlelength>
    <cachetime>1000</cachetime>
    <topictimetype>All</topictimetype>
  </hottab>
  <hottab>
    <id>4</id>
    <displayorder>1</displayorder>
    <name>用户发帖排行</name>
    <datatype>users</datatype>
    <sorttype>posts</sorttype>
    <forumid />
    <topiccount>20</topiccount>
    <forumnamelength>10</forumnamelength>
    <topictitlelength>30</topictitlelength>
    <cachetime>1000</cachetime>
    <topictimetype>All</topictimetype>
  </hottab>
  <hottab>
    <id>5</id>
    <displayorder>0</displayorder>
    <name>版块排行</name>
    <datatype>forums</datatype>
    <sorttype>posts</sorttype>
    <forumid />
    <topiccount>10</topiccount>
    <forumnamelength>10</forumnamelength>
    <topictitlelength>10</topictitlelength>
    <cachetime>1000</cachetime>
    <topictimetype>All</topictimetype>
  </hottab>
  <hottab>
    <id>6</id>
    <displayorder>1</displayorder>
    <name>图片调用</name>
    <datatype>pictures</datatype>
    <sorttype>aid</sorttype>
    <forumid />
    <topiccount>5</topiccount>
    <forumnamelength>-1</forumnamelength>
    <topictitlelength>20</topictitlelength>
    <cachetime>10</cachetime>
    <topictimetype>All</topictimetype>
  </hottab>
</forumhot>