<?xml version="1.0"?>
<versionlist>
	<sqlserver>
		<requiredupgrade>
			<item>
				<version>20090115170000</version>
				<versiondescription>Discuz!NT 2.6.0 正式版</versiondescription>
				<description><![CDATA[<b style="color:orange">Discuz!NT 2.6 RC 升级至 Discuz!NT 2.6 正式版</b>。<br />1 、修复了已知的Bug<br />2、做了一些性能方面的优化。<br /><span style="color:red">本次升级有可能导致模板的修改或已安装的插件失效。请做好备份后升级，升级成功后重新生成模板。</span>]]></description>
				<link>http://download.comsenz.com/DiscuzNT/2.6/dnt_26_n2.zip</link>
			</item>
			<item>
				<version>20090213170000</version>
				<versiondescription>Discuz!NT 2.6.1 正式版</versiondescription>
				<description><![CDATA[<b style="color:orange">Discuz!NT 2.6.0 正式版 升级至 Discuz!NT 2.6.1 正式版。</b><br />1 、解决导航菜单缓存不稳定引起的频繁黄页问题<br />2、修复管理人员通知数不准确问题。<br />3、全面解决数据查询瓶颈，新增若干存储过程和索引大幅提升速度和负载能力。<br /><span style="color:red">本次升级有可能导致模板的修改或已安装的插件失效。请做好备份后升级，升级成功后重新生成模板。</span>]]></description>
				<link>http://download.comsenz.com/DiscuzNT/patch/dnt_26_n2_patch20090213.zip</link>
			</item>
		</requiredupgrade>
		<optionalupgrade>
      <dnt3.1.0>
        <item>
          <version>20100316170000</version>
          <versiondescription>Discuz!NT 3.1.0 正式版20100316170000累积更新补丁</versiondescription>
          <description><![CDATA[<span style="color:red">*注意：本次升级需要对admin、bin、javascript、silverlight、templates文件夹拥有读写权限，升级前需要对这些文件夹设置读写权限。<br /></span>1 、后台更改主题数的错误。<br />2、修改帖内上传附件个数过多出现黄页的错误。<br />3、收件箱翻页的错误。<br />4、修正界面显示的问题。<br /><span style="color:red">*本次升级成功后需要重新生成模板。</span>]]></description>
          <link>http://download.comsenz.com/DiscuzNT/3.1/upgrade_20100316170000.zip</link>
        </item>
        <item>
          <version>20100428120000</version>
          <versiondescription>Discuz!NT 3.1.0 正式版20100428120000累积更新补丁</versiondescription>
          <description><![CDATA[<span style="color:red">*注意：本次升级需要对admin、bin、javascript、silverlight、templates、services文件夹拥有读写权限，升级前需要对这些文件夹设置读写权限。<br /></span>1.添加了自定义注册，发帖，回复的表单name规则功能<br />2.修正了后台修改表情相关信息后，需要重启iis生效设置的问题<br />3.优化了后台用户列表的页面加载速度<br />4.增加了支付宝第三方签约接口功能<br />5.修正了API Topic.getList() 方法在不传递type_id_list参数时的返回异常<br/>6.添加了silverlight 超炫的头像上传编辑组件，满足更多个性化需求<br/><span style="color:red">*本次升级成功后需要重新生成模板。</span>]]></description>
          <link>http://download.comsenz.com/DiscuzNT/3.1/upgrade_20100428120000.zip</link>
        </item>
      </dnt3.1.0>
			<dnt3.0.0>
				<item>
					<version>20090910141500</version>
					<versiondescription>Discuz!NT 3.0.0 正式版20090910141500累积更新补丁</versiondescription>
					<description><![CDATA[<span style="color:red">*注意：本次升级需要对admin、bin、cache、javascript、silverlight、templates文件夹拥有读写权限，升级前需要对这些文件夹设置读写权限。<br /></span>1 、添加了静态头像地址请求的性能优化开关。<br />2、修正了前台管理操作帖子移动等操作可以将帖子移动到分类下，导致帖子不被显示。<br />3、修正了后台设置下载附件分数为负值时反而加分的bug。<br />4、修正了安装时修改表前缀后，回帖，编辑帖子报异常的错误。<br /><span style="color:red">*本次升级成功后需要重新生成模板。</span>]]></description>
					<link>http://download.comsenz.com/DiscuzNT/patch/dnt_30_patch20090910.zip</link>
				</item>
                                <item>
					<version>20090929140000</version>
					<versiondescription>Discuz!NT 3.0.0 正式版20090929140000累积更新补丁</versiondescription>
					<description><![CDATA[<span style="color:red">*注意：本次升级需要对admin、bin、cache、javascript、tools、templates文件夹拥有读写权限，升级前需要对这些文件夹设置读写权限。<br /></span>1.增加了一些操作的快速跳转功能<br/>2.进一步优化的性能<br/>3.修正了用户无法编辑悬赏贴内的回帖<br/><span style="color:red">*本次升级成功后需要重新生成模板。</span>]]></description>
					<link>http://download.comsenz.com/DiscuzNT/3.0/dnt_3_sqlserver.zip</link>
				</item>
                                <item>
					<version>20091015150000</version>
					<versiondescription>Discuz!NT 3.0.0 正式版20091015150000累积更新补丁</versiondescription>
					<description><![CDATA[<span style="color:red">*注意：本次升级需要对bin、javascript、templates文件夹拥有读写权限，升级前需要对这些文件夹设置读写权限。<br /></span>1.修复了下载附件时积分相关bug<br/>2.进一步优化的性能<br/>3.优化了弹窗发帖因为页面加载速度较慢时造成的添加附件按钮实效的问题，减小了问题出现的几率<br/><span style="color:red">*本次升级成功后需要重新生成模板。</span>]]></description>
					<link>http://download.comsenz.com/DiscuzNT/3.0/dnt_3_sqlserver.zip</link>
				</item>
                                <item>
					<version>20091112150000</version>
					<versiondescription>Discuz!NT 3.0.0 正式版20091112150000安全更新补丁</versiondescription>
					<description><![CDATA[<span style="color:red">*注意：本次升级需要对bin、silverlight文件夹拥有读写权限，升级前需要对这些文件夹设置读写权限。<br /></span>1.修复了IIS6下的silverlight上传安全漏洞<br/>]]></description>
					<link>http://download.comsenz.com/DiscuzNT/3.0/dnt_3_sqlserver.zip</link>
				</item>
			</dnt3.0.0>
			<dnt2.6.0>
				<item>
					<version>20090122170000</version>
					<versiondescription>Discuz!NT 2.6.0 正式版20090122更新补丁</versiondescription>
					<description><![CDATA[<b style="color:orange">Discuz!NT 2.6 正式版</b>。<br />1 、修复了模板中的一些小错误<br />2、修复了不能用用户名来查看资料的错误。<br />3、修复了批量删帖后短消息内容中没有帖子标题的错误。<br /><span style="color:red">本次升级成功后需要重新生成模板。</span>]]></description>
					<link>http://download.comsenz.com/DiscuzNT/patch/dnt_26_n2_patch20090122.zip</link>
				</item>
			</dnt2.6.0>
			<dnt2.6.1>
				<item>
					<version>20090225170000</version>
					<versiondescription>Discuz!NT 2.6.1 正式版 20090225 更新补丁</versiondescription>
					<description><![CDATA[<b style="color:orange">Discuz!NT 2.6.1 正式版 20090225 更新补丁</b>。<br />1、修复了昨日发帖数统计不准的问题。<br />2、修复了后台编辑用户时的问题。<br />3、修复了用户积分超过了积分用户组的上线变成了游客的问题等。<br /><span style="color:red">本次升级成功后需要重新生成模板。</span>]]></description>
					<link>http://download.comsenz.com/DiscuzNT/patch/dnt_26_n2_patch20090225.zip</link>
				</item>
				<item>
					<version>20090305170000</version>
					<versiondescription>Discuz!NT 2.6.1 正式版 20090305 更新补丁</versiondescription>
					<description><![CDATA[<b style="color:orange">Discuz!NT 2.6.1 正式版 20090305 更新补丁</b>。<br />1、修复了关闭远程附件之后已上传的附件无法显示的问题。<br />2、修复了部分用户无法自动升级的问题。<br />3、修改了友情链接的显示样式等。<br />]]></description>
					<link>http://download.comsenz.com/DiscuzNT/patch/dnt_26_n2_patch20090305.zip</link>
				</item>
				<item>
					<version>20090818170000</version>
					<versiondescription>Discuz!NT 2.6.1 正式版 20090818 更新补丁</versiondescription>
					<description><![CDATA[<b style="color:orange">Discuz!NT 2.6.1 正式版 20090818 更新补丁</b>。<br />Discuz!NT 2.6.1增强安全补丁。<br />]]></description>
					<link>http://service.nt.discuz.net/dnt_26_n2_patch20090818.zip</link>
				</item>
			</dnt2.6.1>
			<dnt2.5.0>
			</dnt2.5.0>
		</optionalupgrade>
	</sqlserver>
</versionlist>